.bgm{
    background-image:url('BGM.jpg');
    background-size: cover; 
    
}

.border{
    text-align: center;
    align-items: center;
}

input[type=text],input[type=password] {
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
  background-color: rgb(80, 106, 190);
    border: none;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
canvas{
  pointer-events:none;
}

.align{
  text-align: center;
}