.hline{
    font-family:'Times New Roman', Times, serif;
    padding-left: 15px;
    padding-left: 15px;
    border: solid;
    border-left: 300px;
    border-right: 300px;
    width: 600px;
    margin-left: 280px;

}

.bgm{
    background-color: aqua;
}