@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.hsize{
    font-family:'Monaco';
    font-size: 50px;
    padding-bottom:10px;
    text-align:center;
    color:blue;
    background-color: #ffffff;
    margin-top: -10px;
}

.para{
    font-family:'arial';
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: -10px;
    background-color: #ffffff;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.a-button{
    margin-left: 575px;
    border-radius: 15px;
    border-width: 2px;
    border-color: aqua;
}

.p-para{
    font-family:'Franklin Gothic Medium';
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
    color:#ff0000;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-shadow: #ffffff;

}

.video{
    background-image: url("g.gif");
    background-size: cover;
    height: 100vh;
    
}

.head-align{
    font-size: 60px;
    background-color: #ffffff;
    text-align: center;
    text-decoration: underline;
}