.h-line{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:75px;
    text-align: center;
    color: darkcyan;
}

.p-line{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    color: darkorchid;
    background-color: aliceblue;
}

.button-a{
    margin-left: 600px;
    margin-top: 10px;
}

.video{
    background-image: url("g1.gif");
    background-size: cover;
    height: 10vh;
}